


.card1 {
  border-radius:10px;
  background-color:white;
  box-shadow:1px 1px 3px #f6f6f6;
}
.ppacard {
  margin:10px;
  background-color:white;
  width:220px;
}

.flex1 {
  display:flex;
  gap:10px;
}
.flex-column {
  display:flex;
  flex-direction:column;
  gap:10px;
}
.table1 {
  font-family:monospace,Consolas,sans-serif;
  border-collapse: collapse;
  margin-top:5px;
}
.table1 tr {
  font-size     : 14px;
}
.table1 td, .table1 th{
  padding       : 5px;
  text-align    : left;
  border-bottom : 1px solid #ddd;
  border        : 1px solid black;
  border-color  : #d8b1d4 #ccc;  
}
.kvp {
  font-family:monospace,Consolas,sans-serif;
  font-size     : 15px;
}

.RemoveIt {
    background-color:red ;
}

.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.w3-indigo,.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}

.hover-blue:hover {
  background-color:#d6e6f2;
  cursor:pointer;
}
